version: '3'
services:
  backend:
    build: ./server
    environment:
      - PORT=5000
      - NODE_ENV=production
      - MONGODB_URI=${MONGODB_URI}
    ports:
      - "5000:5000"
    logging:
      driver: awslogs
      options:
        awslogs-group: "/ecs/airbnb-backend"
        awslogs-region: "us-east-1"
        awslogs-stream-prefix: "ecs"

  frontend:
    build: ./client
    environment:
      - REACT_APP_API_URL=${REACT_APP_API_URL}
    ports:
      - "80:80"
    depends_on:
      - backend
    logging:
      driver: awslogs
      options:
        awslogs-group: "/ecs/airbnb-frontend"
        awslogs-region: "us-east-1"
        awslogs-stream-prefix: "ecs"